body {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%vw;
  font-size: 1em;
  background-image: url("../img/portfolio-bg.jpg");
  background-size: cover;
  background-position-y: top;
}

.nav-menu {
  margin-top: auto;
  margin-bottom: auto;
  padding: 0 2em;
  font-size: 1em;
  font-weight: bolder;
  text-align: justify;
}

.head-shot {
  width: 22em;
}

.logo-style {
  width: 3em;
  margin: 0;
}

body,
html {
  height: 90%;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: right;
  position: absolute;
  top: 57%;
  left: 62%;
  transform: translate(-50%, -50%);
  color: rgb(231, 231, 231);
}
